.App {
  text-align: center;
}

.App-header {
  padding: 20px 0;
}

.image-container {
  width: 90%;
  display: inline-block;
}

.image-container img {
  width: 100%;
}

.image-container img.image.loading {
  display: none;
}
